.content {
  display: grid;
  grid-gap: 0.25rem;
  grid-template-columns: 200px 3fr 1fr;
  grid-template-rows: 50% 1fr 0.5fr;
  color: white;
  font: 1.75rem sans-serif;
  text-align: center;
  height: 100%;
  
  & div::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
}

.button {
  margin-top: 5rem;
}

.element1 {
  background: red;
}

.element2 {
  background: purple;
}

.element3 {
  background: grey;
}

.element4 {
  background: darkgoldenrod;
}

.element5 {
  background: greenyellow;
}

.element6 {
  background: forestgreen;
}

.element7 {
  background: forestgreen;
}
