@import '../../colors.css';
@import '../../variables.css';

.header {
  //background: gray;
  color: #4a4c4c;
  height: 15rem;
}

.name {
  font: var(--weight-bold) 2.6rem
        var(--font-primary);
  margin: 0;
  margin-bottom: 1rem;
}

.phone {
  margin-bottom: 0.25rem;
  
  & > span {
    font: 1.4rem var(--font-icons);
    vertical-align: middle;
  }
  & > label {
    font: var(--weight-regular)
          var(--size-md)
          var(--font-primary);
    margin-left: 0.5rem;
  }
}

.email {
  
  & > span {
    font: 1.4rem var(--font-icons);
    vertical-align: middle;
  }
  & > a {
    color: #4a4c4c;
    font: var(--weight-regular)
          var(--size-md)
          var(--font-primary);
    margin-left: 0.5rem;
    
    &:hover {
      color: #898f93;
    }
  }
}
