@import '../../colors.css';
@import '../../variables.css';

.header {
  //background: gray;
  height: 15rem;
}

.name {
  color: var(--color-grey-700);
  font: var(--weight-regular) 2.53125rem
        var(--font-secondary);
  margin: 0;
}
