@import './colors.css';
@import './fonts.css';
@import './variables.css';

*,
*::before,
*::after {
  box-sizing: border-box;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

*::selection {
  background: #b3d4fc;
}

input, textarea, select {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
}

body {
  background: var(--color-grey-a100);
  margin: 0;
}
