@import './fonts.css';
@import './variables.css';

* {
  box-sizing: border-box;
}

input, textarea, select {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
}

html {
  height: 100%;
}

body {
  display: inline;
  background: var(--color-background);
  margin: 0;
  
  & > div {
    display: inline;
  }
}
