.brick {
  position: relative;
  break-inside: avoid-column;
  margin-bottom: 1.5rem;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
}

.cover {
  position: absolute;
  display: block;
  filter: grayScale(100%);
  cursor: pointer;
  width: 100%;
  height: 100%;
  top: 0;
  transition:
          opacity 0.5s;
  
  &:hover {
    opacity: 0;
  }
}
